<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content brand-scroll products-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <!-- <ion-card>
      <ion-card-header>
        <div style="display: flex; align-items: center; gap: 10px">
          <ion-icon name="time-outline" size="large"></ion-icon>
          <ion-card-title>Serviço em Andamento</ion-card-title>
        </div>
      </ion-card-header>

      <ion-card-content style="display: flex">
        Troca de Pneus Dianteiros - Oficina AutoPlus
      </ion-card-content>
    </ion-card>

    <div style="display: flex; margin-left: auto">
      <h4>Suas Notificações</h4>
    </div>

    <ion-list [inset]="true">
      <ion-item
        style="border: 1px solid #e9e9e9; border-radius: 10px"
        [button]="true"
        detail="false"
      >
        <div class="unread-indicator-wrapper" slot="start">
          <div class="unread-indicator"></div>
        </div>
        <ion-label>
          <strong>Seu carro está pronto para retirada!</strong>
          <br />
          <ion-note color="medium" class="ion-text-wrap">
            Serviço concluido de troca de oleo e filtro de óleo.
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-note color="medium">2 horas atrás</ion-note>
          <ion-icon color="medium" name="chevron-forward"></ion-icon>
        </div>
      </ion-item>
      <ion-item
        style="border: 1px solid #e9e9e9; border-radius: 10px"
        [button]="true"
        detail="false"
      >
        <div class="unread-indicator-wrapper" slot="start">
          <div class="unread-indicator"></div>
        </div>
        <ion-label>
          <strong>Lembrete: Próxima revisão em 1000km</strong>
          <br />
          <ion-note color="medium" class="ion-text-wrap">
            Agende seu check-up para manter a garantia.
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-note color="medium">Ontem</ion-note>
          <ion-icon color="medium" name="chevron-forward"></ion-icon>
        </div>
      </ion-item>
      <ion-item
        style="border: 1px solid #e9e9e9; border-radius: 10px"
        [button]="true"
        detail="false"
      >
        <div class="unread-indicator-wrapper" slot="start">
          <div class="unread-indicator"></div>
        </div>
        <ion-label>
          <strong>Nova promoção de pneus disponivel!</strong>
          <br />
          <ion-note color="medium" class="ion-text-wrap">
            Descontos exclusivos para membros do TrocaJá.
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-note color="medium">2 dias atrás</ion-note>
          <ion-icon color="medium" name="chevron-forward"></ion-icon>
        </div>
      </ion-item>

      <div
        style="
          display: flex;
          justify-content: center;
          background-color: transparent;
        "
      >
        <ion-button fill="solid" style="background-color: white; color: black">
          Ver Todas
        </ion-button>
      </div>
    </ion-list>

    <div style="display: flex; margin-left: auto">
      <h4>Promoções Atuais</h4>
    </div>

    <ion-card>
      <ion-card-content>
        <div style="overflow-x: auto; white-space: nowrap">
          <img
            *ngFor="let foto of fotosServico"
            [src]="foto"
            style="
              height: 200px;
              margin-right: 10px;
              display: inline-block;
              border-radius: 10px;
            "
          />
          <div>
            Mantenha seu carro seguro e eficiente, Oferta válida por tempo
            limitado!
          </div>
        </div>
        <div></div>
      </ion-card-content>
    </ion-card>

    <div style="display: flex; margin-left: auto">
      <h4>Para Você</h4>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Serviços</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="services-grid">
          <div
            class="service-card"
            (click)="goToServiceDetail('revisao-freios')"
          >
            <ion-icon name="construct-outline" style="color: rgb(27, 27, 27);" size="large"></ion-icon>
            <h3>Revisão de Freios</h3>
          </div>

          <div
            class="service-card"
            (click)="goToServiceDetail('estetica-automotiva')"
          >
            <ion-icon name="sparkles-outline" style="color: rgb(27, 27, 27);" size="large"></ion-icon>
            <h3>Estética Automotiva</h3>
          </div>

          <div
            class="service-card"
            (click)="goToServiceDetail('servico-bateria')"
          >
            <ion-icon name="cog-outline" style="color: rgb(27, 27, 27);" size="large"></ion-icon>
            <h3>Serviço de Bateria</h3>
          </div>

          <div
            class="service-card"
            (click)="goToServiceDetail('acessorios-pecas')"
          >
            <ion-icon name="hardware-chip-outline" style="color: rgb(27, 27, 27);" size="large"></ion-icon>
            <h3>Acessórios e Peças</h3>
          </div>
        </div>
      </ion-card-content>
    </ion-card>-->
    <ion-item fill="outline" style="border-radius: 10px">
      <ion-icon name="search-outline" slot="start" color="medium"></ion-icon>
      <ion-input
        label="Busca por placa (ex: ABC1D23)"
        label-placement="floating"
        placeholder="Digite sua placa:"
      >
      </ion-input>
    </ion-item>

    <div style="display: flex; margin-left: auto; padding-top: 20px">
      <h6>Ou selecione pela marca</h6>
    </div>

    <h2 class="section-title">Marcas de Veículos</h2>

    <div class="brand-container">
      <div class="brand-row">
        <div
          class="brand-card"
          *ngFor="let brand of brands"
          (click)="openBrandModal(brand)"
        >
          <ion-avatar class="brand-logo">
            <img [src]="brand.logo" alt="{{ brand.name }}" />
          </ion-avatar>
          <p>{{ brand.name }}</p>
        </div>
      </div>
    </div>

    <h2 class="section-title">Categorias</h2>

    <div class="category-section">
      <div class="category-row">
        <div class="category-card" *ngFor="let category of categories">
          <ion-icon [name]="category.icon" class="category-icon"></ion-icon>
          <p class="category-name">{{ category.name }}</p>
        </div>
      </div>
    </div>

    <h2 class="section-title">Produtos Sugeridos</h2>

    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products">
        <div class="product-image">
          <img [src]="product.image" alt="{{ product.name }}" />
        </div>

        <hr class="divider" />

        <div class="product-info">
          <h3>{{ product.name }}</h3>
          <p class="price">R$ {{ product.price | number:'1.2-2' }}</p>

          <ion-button
            size="small"
            expand="block"
            color="primary"
            (click)="selectProduct(product)"
          >
            Selecionar
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <ion-modal
    #vehicleModal
    class="vehicle-modal"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title class="ion-text-center">Selecionar manualmente</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" color="light" (click)="closeModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding modal-content">
        <div class="form-container">
          <ion-item *ngIf="marcas?.length">
            <ion-label>Marca</ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="selectedBrand"
              placeholder="Selecione a marca"
              (ionChange)="onBrandChange($event)"
            >
              <ion-select-option *ngFor="let b of marcas" [value]="b">
                {{ b?.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="modelos?.length">
            <ion-label>Modelo</ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="selectedModel"
              placeholder="Selecione o modelo"
              (ionChange)="onModelChange()"
            >
              <ion-select-option *ngFor="let m of modelos" [value]="m">
                {{ m?.nome || m }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="anos?.length">
            <ion-label>Ano</ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="selectedYear"
              placeholder="Selecione o ano"
            >
              <ion-select-option *ngFor="let a of anos" [value]="a">
                {{ a?.nome || a }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-content>

      <ion-footer class="footer-actions">
        <ion-toolbar style="border-radius: 10px;">
          <ion-buttons slot="start">
            <ion-button color="medium" fill="clear" (click)="closeModal()">
              Cancelar
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button color="success" (click)="confirmSelection()">
              Confirmar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
